*
!*/

!*.cpp
!*.hpp

!*.cs
!*.csproj
!*.props
!*.targets

!*.ruleset

!*.md

!*.ini
!*.uplugin

!.git*
!.github/**

!LICENSE.TXT

# Build results
Intermediate/
bin/
obj/

# Test results
TestResults/
